<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        {{ block "head" . }}{{ end }}
    </head>
    <body>
        {{ partial "navbar.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
    </body>
</html>
