{{ define "main" }}
<div class="container">

    <div class="header">
        <h1 class="header-title">
            {{ .Page.Title }}
        </h1>
        <div class="header-divider"></div>
    </div>

    <div>
        {{ $paginator := .Paginator.Pages }}

        {{ range $paginator }}
            <div class="post_preview">
                <h1>
                    <a class="post_preview-title" href="{{ .Permalink }}">{{ .Title }}</a>
                </h1>
                {{ partial "post_meta.html" . }}
                <div class="post post_summary">{{ .Summary }}</div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
