{{ define "main" }}
<div class="container">
    <div class="header">
        <h1 class="header-title">{{ .Page.Title }}</h1>
        {{ partial "post_meta.html" . }}
        <div class="header-divider"></div>
    </div>
    <div class="post">{{ .Content }}<div/>
</div>
{{ end }}
