{{ define "main" }}
<div class="container">

    <div class="header">
        <h1 class="header-title">{{ .Page.Title }}</h1>
        <div class="header-divider"></div>
    </div>

    <div>
        {{ range .Data.Terms.ByCount }}
            <div class="term">
                
                <button class="term-title" onclick="app.toggleClass('term-value_{{ .Name }}', 'hidden')">
                    <h1>{{ .Name }} <i class="icon fas fa-caret-down"></i></h1>
                </button>
                <div class="term-posts term-value_{{ .Name }} hidden">

                    {{ range .WeightedPages }}
                        <div class="post_preview">
                            <h2>
                                <a class="post_preview-title" href="{{ .Permalink }}">{{ .Title }}</a>
                            </h2>
                            {{ partial "post_meta.html" . }}
                        </div>
                    {{ end }}
                    
                    <a class="term-view_all" href="{{ .Name }}">...view all</a>
                </div>

            </div>
        {{ end }}
    </div>
</div>
{{ end }}
