<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- HLJS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/gruvbox-light.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script src="https://kit.fontawesome.com/7977f4a115.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/dist/main.css">
<link rel="icon" href="{{ .Site.Params.favicon }}">

<title>
    {{ if .Page.IsHome }}
    {{ .Page.Title }}
    {{ else }}
        {{ .Page.Title }} - {{ .Site.Title }}
    {{ end }}
</title>
