<div class="navbar">
    <div class="container navbar-flex">

        <a class="navbar-flex navbar-entry navbar-logo" href="/">
            <div>
                <h1 class="navbar-logo-title">{{ .Site.Title }}</h1>
                <p class="navbar-logo-email">{{ .Site.Author.email }}</p>
            </div>
        </a>

        <div class="mobile-only">
            <button
                class="navbar-flex navbar-entry navbar-entry-toggle icon"
                onclick="app.toggleClass('navbar-toggle', 'mobile-hidden')"
            ><i class='fas fa-bars'></i></button>
        </div>

        <div class="mobile-only navbar-flex-break"></div>
        
        <div class="mobile-hidden navbar-toggle navbar-flex">
            {{ range $entry := .Site.Menus.social }}
                <a class="navbar-flex navbar-entry navbar-entry-social icon" href="{{ $entry.URL }}">{{ $entry.Pre }}</a>
            {{ end }}
        </div>

        <div class="mobile-hidden navbar-toggle navbar-flex">
            {{ range $entry := .Site.Menus.main }}
                <a class="navbar-flex navbar-entry navbar-entry-menu" href="{{ $entry.URL }}">{{ $entry.Name }}</a>
            {{ end }}
        </div>
        
    </div>
</div>
