<p class="post_meta">
    <i class="icon fas fa-calendar"></i> {{ .Date.Format (.Param "dateFormat") }} │ 
    <i class="icon fas fa-file-alt"></i> {{ .FuzzyWordCount }} words │ 
    <i class="icon fas fa-user"></i> {{ .Param "author" }}
</p>
