/* External Imports */

/* Preflight / NormalizeCSS */
@import url(https://unpkg.com/tailwindcss@1.6.2/dist/base.min.css);

/*
    Sans Serif - Fira Sans
    Serif - Merriweather
    Monospace - Fira Code
*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

/* Internal Imports */

@import 'colors.css';
@import 'util.css';
@import 'navbar.css';
@import 'page.css';
@import 'post.css';
