/* Partials */

$navbar-height: 6rem;
$navbar-height-small: 4rem;

/* End Partials */

.navbar {
    @extend %std-border;

    background-color: $gray-200;

    position: sticky;
    top: 0;
    z-index: 9999;
    
    &-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-break {
            height: 0;
            flex-basis: 100%;
        }
    }

    > .container {
        flex-wrap: wrap;
        padding: 0;
    }

    &-entry {
        height: $navbar-height;
        padding: 0 $container-padding-x;

        &:hover {
            background-color: $gray-300;
        }

        &-toggle {
            font-size: 1.75rem;
        }

        &-social {
            font-size: 2.5rem;
        }

        &-menu {
            font-size: 1rem;
        }
    }

    &-logo {
        &-title {
            font: 1.5rem $sans-serif;
            margin-bottom: calc(2 * $rem-px);
        }

        &-email {
            font: 0.75rem $monospace;
        }
    }
}

@media (max-width: 30rem) {
    .navbar {
        &-entry {
            height: $navbar-height-small;
        }

        &-logo {
            &-title {
                font-weight: bold;
                font-size: 1.25rem;
                margin-bottom: 0;
            }

            &-email {
                display: none;
            }
        }
    }
}
