.header {
    margin-bottom: $container-padding-y;

    &-title {
        @extend %bold-serif;
        font-size: 3rem;
    }

    &-divider {
        background-color: $indigo-400;
        border-radius: 0.2rem;
        height: 0.5rem;
        margin: 1rem *;
    }
}

.post_meta {
    overflow: auto;
    white-space: nowrap;

    font-family: $serif;
    font-size: 1rem;
    color: $gray-700;
    padding: 0.5rem *;
}

.post_preview {
    padding-bottom: $container-padding-y;

    + .post_preview {
        padding-top: $container-padding-y;
        border-style: solid none none none;
        border-width: $rem-px;
        border-color: $gray-400;
    }

    &-title {
        @extend %bold-serif;
        font-size: $h1-size;

        &:hover {
            color: $hover-color;
        }
    }
}

.post_summary {
    margin-top: 0.5rem;

    :--headers {
        display: none;
    }
}

.term {
    &-title {
        @extend %std-border;
        background: $gray-200;
        padding: 1rem;

        text-align: left;
        width: 100%;
        
        font-family: $monospace;
        font-weight: bold;

        &:hover {
            @extend %link-hover;
        }
    }

    &-posts {
        @extend %std-border;
        background: white;
        padding: 0 1rem 1rem;

        .post_preview {
            padding: 1.5rem * 1rem;

            &-title {
                font-size: unset;
            }
        }
    }

    &-view_all {
        @extend %std-link;
    }
}
