$p-margin: 1rem;
$block-margin: 0.5rem;

%block-content {
    @extend %std-border;

    background: $gray-100;
    margin: $block-margin *;
    display: block;
    overflow: auto;
}

:--img-wrapper {
    @extend %block-content;
}

/* Default */

.post {
    /* Code */

    code {
        font-size: calc(1rem - 2 * $rem-px);
        font-family: $monospace;

        background-color: $indigo-100;
        border: 0.25rem solid $indigo-100;
        border-radius: 0.25rem;
        color: $indigo-800;
    }

    .hljs,
    pre code {
        background: unset;
        border: none;
        color: unset;

        line-height: 1.5;
        display: block;
        padding: 1rem;
        overflow: unset;
    }

    /* Headers */

    :--headers {
        @extend %bold-serif;
        
        margin-top: calc(1.5 * $p-margin);
        margin-bottom: calc(0.5 * $p-margin);
    }

    @for $i from 1 through 3 {
        h$(i) {
            $font-size: calc($h1-size - ($(i)rem - 1rem) * 0.25);
            font-size: $font-size;

            code {
                font-size: calc($font-size - 2 * $rem-px);
            }
        }
    }

    h4,
    h5,
    h6 {
        font-size: 1.125rem;

        code {
            font-size: 1rem;
        }
    }

    /* Misc */

    a {
        @extend %std-link;
    }

    hr {
        border-style: solid none none none;
        border-width: $rem-px;
        border-color: $gray-400;
        margin: $p-margin *;
    }

    ol,
    ul {
        padding-left: 1.5rem;
        list-style-type: unset;
        list-style-position: outside;
    }

    li {
        margin: 0.125rem *;
    }

    p + p {
        margin-top: $p-margin;
    }

    /* Tables */

    table {
        margin: $block-margin *;

        th {
            @extend %std-border;
            background: $gray-200;
            padding: 0.5rem;
        }

        td {
            @extend %std-border;
            background: $gray-100;
            padding: 0.25rem 0.5rem;
        }
    }

    pre {
        @extend %block-content;
    }

    mjx-container[jax="CHTML"][display="true"] { /* stylelint-disable-line selector-type-no-unknown */
        overflow-x: auto;
        margin: 0 *;
        padding: $block-margin *;
    }

    /* Images */

    img {
        display: none;
    }

    &-img {
        &-wrapper img {
            display: block;
            padding: 1rem;
            margin: auto;
            max-width: unset;
        }

        &-flex {
            display: flex;
            align-items: center;
        
            .post-img-wrapper {
                margin: auto;
            }
        }
    }
}
