/* Variables */

$sans-serif: Roboto, Helvetica, Arial, sans-serif;
$serif: Merriweather, 'Times New Roman', serif;
$monospace: 'Fira Code', Courier, monospace;

$rem-px: 0.0625rem;
$time: 0.1s;

$container-padding-x: 1rem;
$container-padding-y: 2rem;

$link-color: $teal-700;
$hover-color: $teal-500;

$h1-size: 1.875rem;

/* Selectors */

@custom-selector :--headers h1, h2, h3, h4, h5, h6;
@custom-selector :--img-wrapper :not(.post-img-flex) > .post-img-wrapper, .post-img-flex;

/* Partials */

%std-border {
    border-style: solid;
    border-width: $rem-px;
    border-color: $gray-300;
}

%bold-serif {
    font-weight: bold;
    font-family: $serif;
}

%std-link {
    color: $link-color;
        
    &:hover {
        color: $hover-color;
    }
}

/* Base */

html {
    color: $gray-800;
    font-family: $sans-serif;
}

/* Don't mess with rem */
body {
    font-size: calc(1rem + $rem-px);
}

:--headers {
    line-height: 1.15;
}

/* Classes */

.icon {
    color: $gray-700;
}

.container {
    width: 100%;
    margin: auto;
    padding: $container-padding-y $container-padding-x;
    height: 100%;
}

/* dumb */
@media not screen and (min-width: 48em) {
    .mobile-hidden {
        display: none !important;
    }
}

@media screen and (min-width: 48em) {
    .mobile-only {
        display: none !important;
    }

    .container {
        width: max(48rem, calc(100% - 12rem));
    }
}

@media screen and (min-width: 72em) {
    .container {
        width: 60rem;
    }
}

.hidden {
    display: none !important;
}
